@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');

* {
    background-color: rgb(22, 22, 22);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav#navbar {
    background-color: transparent;
    transition: background-color 0.3s ease;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    font-family: 'League Spartan', Arial, Helvetica, sans-serif; 
}


nav#navbar ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    padding: 0 20px;
    font-family: 'League Spartan', Arial, Helvetica, sans-serif; 
}

/* Use a more specific selector for the li element */
nav#navbar li {
    margin: 0;
    padding: 10px;
    font-size: 100%;
    font-family: 'League Spartan', Arial, Helvetica, sans-serif; 
}

/* Use a more specific selector for the a element */
nav#navbar a {
    text-decoration: none;
    color: white;
    font-family: 'League Spartan', Arial, Helvetica, sans-serif; 
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 80px;
}

h1 {
    color: white;
    margin-top: 20px;
    color: rgb(0, 255, 17);
    font-family: 'League Spartan', Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-bottom: 100px; /* Adjust the margin based on your design preferences */
}

.image-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 120px; /* Adjust the gap based on your design preferences */

    /* Responsive layout for medium-sized screens (e.g., tablets) */
    @media screen and (max-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
    }

    /* Responsive layout for small screens (e.g., mobile devices) */
    @media screen and (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.image-item {
    overflow: hidden;
    text-align: center; /* Center text below image */
}

.image-item img {
    width: 100%; 
    height: auto;
    max-width: 686px;
    max-height: 686px; 
    border-radius: 50%; 
    display: block;
}

.image-item h4 {
    color: white;
    margin-top: 10px; 
    font-family: 'Helvetica', Arial, sans-serif;
}


.copyright {
    margin-top: 40px; 
    padding: 20px;
    fill: 2px solid white; 
    border-radius: 12px; 
    width: 70%; 
}

.copyright span {
    color: white;
    font-family: 'Helvetica', Arial, sans-serif;
}